.botao {
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.3s ease
}

.botao:hover {
    letter-spacing: 0.5px;
    background-image: linear-gradient(to left, #FAD961 0%, #F76B1C 100%);
}

#client-area-button {
    float: right;
    display: inline;
    border-radius: 16px;
    background-color: #E4B439;
    width: 140px;
    /*box-shadow: 5px 5px 0px #b43c3c;*/
    padding: 8px 8px;
    margin: 20px 20px 0px 0px;
    transition: all 400ms ease;
}

#client-area-button:hover {
    background: white;
    color: #E4B439;
    transition: all 400ms ease;
}